* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 60px;
}

header .logo a {
  color: #131313;
  font-size: 32px;
  font-weight: 900;
  text-decoration: none;
}

header .menu a {
  color: #131313;
  font-size: 16px;
  padding: 0 16px;
  text-decoration: none;
}
